* { box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #3b3939;
}
button{
	background-color: red;
	font-size: 16px;
	color: white;
	text-decoration: none;
	
}
 h1 {
	background-color: red;
	font-size: 30px;
	color: white;
	text-decoration: none;
	
}
header {
	 background-color: red;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: red ;
	color: white;
	text-align: center;
	overflow:auto;
	
}
.circle-to-square__container {
	width: 450px;
	height: 300px;
	display: flex;
	justify-content: center;
}
.circle-to-square__container:hover .circle-to-square {
	width: 300px;
	border-radius: 50%;
}
.circle-to-square__container:hover .circle {
	display: none;
}
.circle-to-square__container:hover .square {
	display: initial;
}
.circle-to-square {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	background-color: yellow;
	border: 8px solid red;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s ease all;
}
.circle-to-square .square {
	display: none;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
}